<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
</head>
<body>
    <h1>Inventory Application - Pokemon Ver</h1>
    <form action="/" method="post">
        <h2>Create New Category</h2>
        <label for="category">Category Name: </label>
        <input type="text" id="category" name="category">
        <button>Create</button>
    </form>

    <br>

    <section>
        <h2>All Categories:</h2>
        <div class="categoriesContainer" style="display: flex; gap: 2rem;">
            <% categories.forEach(category => { %>
                <div class="category" style="border: 1px solid black; padding: 1rem; text-align: center;">
                    <a href="./items/<%= category.id %>"><h3><%= category.type %></h3></a>
                    <p>
                        <form action="/editCategory" method="post">
                            <label for="type">Edit Type: </label>
                            <input style="display: block; max-width: 100px; margin: 8px 0; padding: 3px;" 
                            placeholder="<%= category.type %>" type="text" id="type" name="type">
                            <input type="hidden" value="<%= category.id %>" name="id">
                            <button>Edit</button>
                        </form>
                    </p>
                    <a href="./deleteCategory/<%= category.id %>">Delete</a>
                </div>
            <% }); %>
        </div>
        
    </section>
</body>
</html>