<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items - Pokemons</title>
</head>
<body>
    <h1><%= category %></h1>
    <a href="/">Home</a>
    <form action="/items/" method="post">
        <h2>Create New Pokemon</h2>
        <label for="name">Pokemon Name: </label>
        <input type="text" id="name" name="name">
        <input type="hidden" id="category" name="category" value="<%= categoryId %>">
        <button>Create</button>
    </form>

    <br>

    <div class="categoriesContainer" style="display: flex; gap: 2rem;">
        <% items.forEach(item => { %>
            <div class="item" style="border: 1px solid black; padding: 1rem; text-align: center;">
                <a href=""><h3><%= item.name %></h3></a>
                <p>
                    <form action="/items/editItem" method="post">
                        <label for="name">Edit Name: </label>
                        <input style="display: block; max-width: 100px; margin: 8px 0; padding: 3px;" 
                        placeholder="<%= item.name %>" type="text" id="name" name="name">
                        <input type="hidden" value="<%= item.id %>" name="id">
                        <button>Edit</button>
                    </form>
                </p>
                <a href="./deleteItem/<%= item.id %>">Delete</a>
            </div>
        <% }); %>
    </div>
</body>
</html>